<h1>Manage orders</h1>
<div class="orders">
	<form method="post" action="/all-orders">
		{{#each orders}}
			<div class="order">
			<span class="order-time">{{this.parsedDate}}</span>
			<span class="order-name">{{this.product.category}} doner, {{this.product.size}} cm</span>
			<span class="order-status">
				<select name="{{this._id}}" selected="{{this.status}}">
					{{#if this.isPending}}
					<option value="Pending" selected>Pending</option>
					<option value="inProgress" >In Progress</option>
					<option value="inTransit" >In Transit</option>
					<option value="delivered" >Delivered</option>
					{{/if}}
					{{#if this.inProgress}}
					<option value="Pending">Pending</option>
					<option value="inProgress" selected>In Progress</option>
					<option value="inTransit">In Transit</option>
					<option value="delivered" >Delivered</option>
					{{/if}}
					{{#if this.inTransit}}
					<option value="Pending">Pending</option>
					<option value="inProgress" >In Progress</option>
					<option value="inTransit" selected>In Transit</option>
					<option value="delivered">Delivered</option>
					{{/if}}
					{{#if this.isDelivered}}
					<option value="Pending">Pending</option>
					<option value="inProgress" >In Progress</option>
					<option value="inTransit">In Transit</option>
					<option value="delivered" selected>Delivered</option>
					{{/if}}
				</select>
			</span>
			<a href="/order-details/{{this._id}}" class="button order-button">Details</a>
		</div>
		{{else}}
		<h2>There are no orders at the moment.</h2>
		{{/each}}
		<input type="submit" value="Save Changes" class="button" style="border:0">
	</form>
</div>