<h1></h1>
Your orders</h1>
<div class="orders">
    {{#each orders}}
    <div class="order">
        <span class="order-time">{{this.date}}</span>
        <span class="order-name">{{this.product}} doner, {{this.size}} cm</span>
        <span class="order-status">{{this.status}}</span>
        <a href="/order-details/{{this._id}}" class="button order-button">Details</a>
    </div>
    <br> 
    {{/each}}
</div>