<div class="login-page">
  <div class="form">
    <form method="POST" class="create-form">
      <input type="text" name='title' value="{{hotel.title}}" />
      <input type="text" name='location' value="{{hotel.location}}" />
      <input type="text" name='image' value="{{hotel.image}}" />

      <select class='picker' name="type">
        {{#each categories}}
        <option value="{{this.categoryName}}">{{this.categoryName}}</option>
        {{/each}}
      </select>
      <br>
      <br>
      <textarea name="textArea" id="" cols="35" rows="10">{{hotel.description}}</textarea>
      <br>

      <button type="submit">Edit</button>
    </form>
  </div>
</div>