{{#if cars}}
<h1>Latest 3 added cars</h1>
{{else}}
<h1>There are no cars to rent</h1>
{{/if}}
<div class="cars">

    {{#each cars}}

    <div class="car">

        <img class="carPoster" src="{{this.image}}" />

        <h1>Brand: {{this.brand}}</h1>
        <h1>Model: {{this.model}}</h1>
        <h1>Price per day: {{this.pricePerDay}}</h1>
        {{#if this.logged}}

        <a href="/rent/{{this.id}}" class="btn btn-small btn-success">Rent</a>

        {{/if}} {{#if this.logged.isAdmin}}

        <a href="/edit/{{this.id}}" class="btn btn-small btn-success">Edit</a>
        {{/if}}

    </div>

    {{/each}}

</div>