{{#if hotels}}
<h1>Category: {{category}}</h1>
{{else}}
<h1>There are no hotels in this category.</h1>
{{/if}}
<div class="hotels">
    {{#each hotels}}
    <div class="hotelPoster">
        <a href="/details?id={{this._id}}">
            <h2>Title: {{this.title}}</h2>
            <h2>Location: {{this.location}}</h2>
            <img class="hotelImg" src="{{this.image}}" alt="hotel image">
            <p>Description: {{this.description}}</p>
            <a href="like/{{this._id}}">
                <img class="likeBtn" src="/img/like-button-png-2.png" alt="like">
            </a>
            <span>{{this.likeCounter.length}}</span>
            <p>Views: {{this.viewCounter}}</p>
        </a>
    </div>
    {{/each}}
</div>